/* #alldayforecast{
    display: flex;
    float: left;
    width: 100%;
} */
.card{
    background-color: rgb(54, 75, 136);
    color: white;
    width: 33%;
    display: flex;
    float: left;
}
.jumbotron{
    background-color: rgb(54, 75, 136);
    color: silver;
}